<nav class="navbar backlog-navbar flex-column align-items-start sticky-top">
    <a class="navbar-brand backlog-navbar_brand mb-4" routerLink="/">
        <img class="img-fluid" src="logo-generated-sem-fundo.png" alt="Game Backlog Manager">
    </a>

    <ul class="nav flex-column w-100">
        <li class="nav-item">
            <a
                class="nav-link d-flex align-items-center px-0"
                routerLink="/games"
                routerLinkActive="active"
            >
                <i class="bi bi-controller me-2"></i>
                <span>Games</span>
            </a>
        </li>
        <li class="nav-item">
            <a
                class="nav-link d-flex align-items-center px-0"
                routerLink="/library"
                routerLinkActive="active"
            >
                <i class="bi bi-book me-2"></i>
                <span>Library</span>
            </a>
        </li>
    </ul>
</nav>
